.logo {
    border-radius: 10%;
}

.head {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #7fadcd;
}

.dir {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.link {
    text-decoration: none;
    color: black;
}
